.aboutme-page {
    margin-bottom: 120px;
}

.avatar {
    margin: 30px;
}

.main-headline {
    margin-top: 20px;
    margin-bottom: 40px;
}

.main-followupline {
    margin-bottom: 80px;
}

.secondary-headline {
    margin: auto;
    max-width: 1080px;
    text-align: center;
}

.table-group {
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    margin-bottom: 80px;
    text-align: left;
}

.table-th-headline {
    font-size: 18px;
    font-style: italic;
    padding: 5px;
    padding-inline-start: 50px;
    padding-inline-end: 50px;
    border-style: outset;
    background-color: #303053;
    border-color: rgb(59, 59, 59);
}

.table-th {
    padding-inline-start: 50px;
    padding-inline-end: 50px;
    font-weight: normal;
}

.aboutme-group-wrapper {
    max-width: 1200px;
    text-align: center;
    margin: auto;
    padding-bottom: 60px;
}

.aboutme-group-wrapper h3 {
    margin-top: 60px;
    margin-bottom: 80px;
}

.aboutme-group-wrapper h4 {
    border-radius: 10px;
    font-style: italic;
    text-align: center;
    margin: auto;
    margin-top: 40px;
    max-width: 1080px;
    border-style: outset;
    background-color: #303053;
    border-color: rgb(59, 59, 59);
    
}

.aboutme-group-wrapper p {
    max-width: 1080px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 100px;
    padding: 30px;
    border-style: outset;
    border-color: rgba(0, 0, 0, 0.096);
}

