.main-page {
    margin-top: 30px;
    margin-bottom: 120px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.main-headline {
    margin-top: 20px;
    margin-bottom: 20px;
}

.secondary-headline {
    margin-top: 20px;
    margin-bottom: 20px;
}

.border-lines {

    max-width: 1080px;
    text-align: center;
    margin: auto;
    padding: 20px;
    border-style: outset;
    border-color: rgba(0, 0, 0, 0.096);
}

.margin-group {
    margin-top: 100px;
    margin-bottom: 100px;
}

.youtube-video {
    margin: 0px;

}
