.bar-main {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    background-color: #303053;
    width: auto;
    color: white;
    border-radius: 10px;
}

.listgroupitem{
    background-color: black;
    color: white;
}

.footer-wrapper {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    padding-top: 20px;
    padding-bottom: 60px;
    border-style: outset;
    border-color: rgba(0, 0, 0, 0.096);
    
}

.footer-wrapper a {
    font-size: 14px;
}

.footer-copyright {
    font-size: 14px;

}