.App {
  text-align: center;
  color: rgb(244, 238, 224); /*Main text font color*/
  background-color: #1d1d22;
  max-width: 150ch;
  position: center;
  margin: auto;
  border-radius: 10px;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
